@model Garia.Core.Entities.Employee

@{
    ViewBag.Title = "EditEmployee";
}

<h2>Edit Employee</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.PicturePath)
        @Html.HiddenFor(model => model.RoleId)



        <div class="form-group">
            @Html.LabelFor(model => model.Fname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fname)
                @Html.ValidationMessageFor(model => model.Fname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lname)
                @Html.ValidationMessageFor(model => model.Lname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.Budget, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Budget)
                @Html.ValidationMessageFor(model => model.Budget)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
